/* Global Styling */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
}

#app {
  font: 1em/150% 'Poppins', Helvetica, Arial, sans-serif;
  margin: 0em auto;
  padding: 0em;
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

button {
  padding: 1em 2em;
  min-width: 150px;
  color: #fafaff;
  background-color: #453a8f;
  border: 1px solid #130b43;
  border-radius: 6px;
}

/* Header */

.nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  padding: 8px;
  text-decoration: none;
  color: #5c5589;
  font-weight: 600;
}

a.logo {
  margin: 0 2%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

a.logo img {
  border-radius: 100%;
}

a.logo p {
  margin: 3px 0 0;
  padding-left: 20px;
  font-size: 1.5em;
  letter-spacing: 0.25em;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.mobileNav {
  width: 100%;
  order: 1;
}

ul.mobileNav li {
  margin: 2.1em 0em;
  font-size: 1.25em;
}

.hamburgermenu {
  margin: 8px;
  min-width: 50px;
  aspect-ratio: 1 / 1;
  position: relative;
  border: none;
  background-color: #ffffff;
}

.hamburgermenu span {
  display: block;
  width: 20px;
  height: 2px;
  margin: auto;
  background: #232323;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.hamburgermenu span.top {
  transform: translateY(-8px);
}

.hamburgermenu span.bottom {
  transform: translateY(8px);
}

.desktopNav {
  display: none;
  margin-right: 16%;
}
@media (min-width: 500px) {
  .hamburgermenu, .mobileNav {
    display: none;
  }

  ul.desktopNav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    flex: 1;
  }
}

/* main */

main {
  flex: 1;
  background: linear-gradient(#f0f3f9, #fff);
}

main .content {
  margin: 0 auto;
  max-width: 1400px;
  padding-top: 2em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

h1.nftt {
  margin: 10vh 8%;
  align-self: flex-start;
  line-height: 1.2;
  font-size: 410%
}

/* Stake */

.stakeasset {
  margin-bottom: 2em;
  min-height: 280px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  aspect-ratio: 1 / 1;
  transition: transform .1s;
  position: relative;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.stakeasset:hover {
  display: inline;
  transform: scale(1.03);
}

.assetapr {
  padding: .1em .8em;
  font-weight: 600;
  border-radius: 15px;
  display: inline;
  color: #fff;
  background-color: #28a745;
  position: absolute;
  top: -10px;
  left: 5px;
}

.assetvalue {
  padding: .1em .4em;
  font-weight: 600;
  color: #fff;
  background-color: #5c5589;
  border-radius: .25rem;
  position: absolute;
  top: 20px;
  left: 5px;
}

.assetimg {
  margin-top: 2.2em;
}

/* FAQ section */

.faq-title {
  margin: 2em;
  font-size: 300%;
  letter-spacing: 0.02em;
  line-height: 1.05em;
  font-weight: 600;
}

.faq {
  margin-bottom: 5%;
  width: 600px;
  max-width: 95vw;
}

.faq article {
  padding: .3em .5em .3em 1.5em;
  margin-bottom: 15px;
  box-shadow: 0 0 10px 25px rgba(0, 0, 0, 0.03);
  border: 1px solid #ebebeb;
  border-radius: 4px;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}

.faq img {
  position: absolute;
  top: 26px;
  right: 20px;

}

.faq h2 {
  color: #130b43;
  font-size: 1.2em;
  width: 90%;
}

.faq p {
  width: 90%;
}

/* Related to the hidetext class. */
.hidetext p {
  display: none;
}

.hidetext img {
  transform:rotate(180deg);
}